@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --success-color: rgb(82, 235, 82);
    --error-color: rgb(255, 0, 98);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #e0e8f0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(147, 178, 204);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: rgb(58, 57, 57);
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-control input {
    border: 2.4px solid #535252;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: rgb(36, 122, 192);
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

button {
    cursor: pointer;
    background-color: rgb(118, 211, 180);
    border: 2px solid #1a1b1b;
    border-radius: 5px;
    color: rgb(49, 71, 71);
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
